<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://i.scdn.co/image/ab67616d00001e0242cec3b9bff6b306cf258795">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Thiago Wichan</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Thiago Wichan<i class="material-icons right">close</i></span>

      <p>
        Studying Python and Git!
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/Thiago-Wichan" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
        <br><br>
      </p>

    </div>
  </div>